:root {
	/* Colors */
	--purple-100: #e4e7fb;
	--purple-200: #d5daff;
	--purple-300: #575090;
	--purple-400: #554e8f;
	--pink: #d10263;
	--red-100: #ffcfcf;
	--red-200: #fb3f3f;
	--blue-300: #3044f2;
	--blue-200: #5f87e7;
	--blue-100: #91abc0;
	--green: #1ed102;
	--lime: #91dc5a;
	--yellow: #ffd506;
	--orange: #f29130;
	--white: #f9fcff;
	--gray: #dadada;
	/* Font */
	--font: 'Nunito Sans', sans-serif;
}

#root {
	height: inherit;
	widows: inherit;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	width: 100%;
	font-family: var(--font);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

input,
textarea,
select,
button {
	color: inherit;
	font: inherit;
	letter-spacing: inherit;
	border: 1px solid gray;
}

button {
	border-radius: 0;
	padding: 0.75em 1em;
	background-color: transparent;
}

/* This is mainly used for JavaScript interaction.
/ (When users click on something in a button, event.target 
/ is the thing they clicked on, not the button. 
/ This style makes it easier to work with click events if there are 
/ HTML elements inside a button).
*/
button * {
	pointer-events: none;
}

embed,
iframe,
img,
object,
video {
	display: block;
	max-width: 100%;
}

table {
	table-layout: fixed;
	width: 100%;
}

[hidden] {
	display: none !important;
}

noscript {
	display: block;
	margin-bottom: 1em;
	margin-top: 1em;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
