:root {
	/* Colors */
	--white: #ffffff;
	--white-100: #f9fcff;
	--white-200: #0000000d;
	--gray-100: #d9d9d9;
	--gray-200: #c6c6c8;
	--gray-300: #b5b5b5;
	--gray-400: #82a0b7;
	--yellow: #ffd506;
	--green: #1ed102;
	--pink: #d10263;
	--purple-100: #8b87b3;
	--purple-200: #554e8f;
	/* Font */
	--font-primary: 'Nunito Sans', sans-serif;
	--font-secondary: 'Rubik', sans-serif;
	/* Units */
	--unit: 5px;
	--single: calc(var(--unit) * 1);
	--double: calc(var(--unit) * 2);
	--quad: calc(var(--unit) * 4);
}

#root {
	height: inherit;
	widows: inherit;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	width: 100%;
	font-family: var(--font);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

input,
textarea,
select,
button {
	color: inherit;
	font: inherit;
	letter-spacing: inherit;
	border: 1px solid gray;
}

button {
	border-radius: 0;
	padding: 0.75em 1em;
	background-color: transparent;
}

/* This is mainly used for JavaScript interaction.
/ (When users click on something in a button, event.target 
/ is the thing they clicked on, not the button. 
/ This style makes it easier to work with click events if there are 
/ HTML elements inside a button).
*/
button * {
	pointer-events: none;
}

embed,
iframe,
img,
object,
video {
	display: block;
	max-width: 100%;
}

table {
	table-layout: fixed;
	width: 100%;
}

[hidden] {
	display: none !important;
}

noscript {
	display: block;
	margin-bottom: 1em;
	margin-top: 1em;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* Responsive font */
@media (min-width: 300px) {
	/* 14px @ 480px increasing to 18px @ 1920px */
	:root {
		font-size: calc(0.8rem + ((1vw - 4.8px) * 0.2));
		/* Where: * 0.2778 = 100 * font_Size_Difference / viewport_Width_Difference */
	}
	/* 40px @ 480px increasing to 50px @ 1920px */
	h1 {
		font-size: calc(1.8rem + ((1vw - 4.8px) * 1.0417));
	}
	/* 20px @ 480px increasing to 30px @ 1920px */
	h2 {
		font-size: calc(1.2rem + ((1vw - 4.8px) * 0.6944));
	}
	/* 20px @ 480px increasing to 25px @ 1920px */
	h3 {
		font-size: calc(1.2rem + ((1vw - 4.8px) * 0.3472));
	}
	/* 16px @ 480px increasing to 20px @ 1920px */
	h4 {
		font-size: calc(1rem + ((1vw - 4.8px) * 0.2778));
	}
	/* 14px @ 480px increasing to 16px @ 1920px */
	.label {
		font-size: calc(1.4rem + ((1vw - 4.8px) * 0.3472));
	}
	.hint {
		font-size: calc(0.8rem + ((1vw - 4.8px) * 0.1389));
		/* Where: * 0.1389 = 100 * font_Size_Difference / viewport_Width_Difference */
	}
}
/* Prevent font scaling beyond this breakpoint */
@media (min-width: 1920px) {
	:root {
		font-size: 18px;
	}
	h1 {
		font-size: 45px;
	}
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 25px;
	}
	h4 {
		font-size: 20px;
	}
	.label {
		font-size: 17px;
	}
	.hint {
		font-size: 10px;
	}
}
